@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Manrope', sans-serif;
    background-color: #F8FAFC;
    color: #111827;
    overflow-x:hidden;
    
}

*{
    box-sizing: border-box;
;
}
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #10b981;
    border-radius: 20px;
}

::-webkit-scrollbar-track{
    background-color: #f5f5f5;
    ;
}

/* Center native <dialog> elements on screen */
dialog {
    position: fixed;
    inset: 0;
    margin: auto;
}